<div class="login-container">
  <img src="assets/images/Casaparts_logo2.png" alt="Casaparts Logo" class="logo" />
  <div class="login-box">
    <h5>Ingresá a tu cuenta</h5>
    <form (ngSubmit)="ingresar()">
      <div class="mb-3">
        <label>Nº de Cliente</label>
        <input type="text" class="form-control" [(ngModel)]="cliente" name="cliente" placeholder="Ej: 12345" required />
      </div>
      <div class="mb-3">
        <label>Código de Acceso</label>
        <input type="password" class="form-control" [(ngModel)]="clave" name="clave" placeholder="••••••••" required />
      </div>
      <button type="submit" class="btn btn-warning w-100 fw-bold">Ingresar</button>
    </form>
  </div>
</div>
