.icon-img,
.icon {
  width: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  line-height: 1;
  font-size: 32px;
}

.icon.bi::before {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0;
}

.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: red;
  color: white;
  border-radius: 999px;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1;
  min-width: 18px;
  text-align: center;
  display: inline-block;
}

.horizontal-line {
  border-top: 1px solid #6D6F71;
  margin: 8px 0 0 0;
  padding-top: 8px;
}

.custom-dropdown-menu {
  min-width: auto;
  margin-top: 0;
  top: 100% !important;
  right: 0 !important;
  left: auto !important;
  transform: none !important;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  position: absolute !important;
  z-index: 1050;
}

.dropdown {
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .icon-img {
    filter: invert(1) brightness(2);
  }
}