<div class="login-container">
  <img src="assets/images/Casaparts_logo2.png" alt="Casaparts Logo" class="logo" />
  <div class="login-box">
    <h5>Ingresá a tu cuenta</h5>
    <form (ngSubmit)="ingresar()">
      <div class="mb-3">
        <label>Nº de Cliente</label>
        <input type="text" class="form-control" [(ngModel)]="client" name="client"
          placeholder="Ingrese su numero de cliente" required />
      </div>
      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="ingrese su email"
          required />
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="ingrese su password"
          required />
      </div>
      <button type="submit" class="btn btn-warning w-100 fw-bold"
        [disabled]="!client || !email || !password">Ingresar</button>
    </form>
  </div>
</div>