<h2 class="page-title">Resumen del Pedido</h2>
<section *ngIf="carrito && carrito.length == 0; else hasItems" class="empty" [hidden]="spinner">
  <p>No hay productos en el carrito.</p>
  <button class="btn-secondary" (click)="volver()">Volver</button>
</section>
<ng-template #hasItems>
  <div class="checkout" style="position: relative;">
    <div *ngIf="spinner"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; backdrop-filter: blur(6px); z-index: 10; display: flex; align-items: center; justify-content: center; flex-direction: column; min-height: 200px; background-color: transparent;">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <p class="text-black mt-2">Cargando pedido...</p>
    </div>
    <section class="items" *ngIf="!spinner && carrito">
      <article class="item" *ngFor="let it of carrito; let i = index; trackBy: trackByIndex">
        <img class="thumb" *ngIf="imagenes[i]==null" src="assets/images/not_found.png" alt="Sin foto" />
        <img class="thumb" *ngIf="imagenes[i] && imagenes[i] != ''" [src]="imagenes[i]" alt="Imagen producto" />
        <div class="meta">
          <h3 class="name">{{ it.articulo.DESCRIP || '—' }}</h3>
          <div class="brand" *ngIf="it.articulo.MARCA && it.articulo.CODIGO">
            <span>{{ it.articulo.MARCA }}</span>
            <span> • {{ it.articulo.CODIGO }}</span>
          </div>
          <div class="qty">
            <span> Cantidad: <strong>{{ it.cantidad }}</strong> </span>
            <button class="btn-link danger" (click)="eliminar(i)">Eliminar</button>
          </div>
        </div>
        <div class="price">
          <div class="sub">
            {{ precios[i] | currency:'ARS':'symbol-narrow':'1.2-2' }}
          </div>
        </div>
      </article>
    </section>
  </div>
  <footer class="sticky-footer" *ngIf="(carrito && carrito.length) > 0">
    <div class="sf-total">Total: {{ total | currency:'ARS':'symbol-narrow':'1.2-2' }}</div>
    <button type="button" class="btn-primary btn-ml" (click)="confirmar()">Confirmar pedido</button>
  </footer>
</ng-template>
